<h2>Change Password!</h2>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <table>
    <tr>
      <td>Enter your old password:</td>
      <td><input type="password" formControlName="oldPassword" /></td>
    </tr>
    <tr>
      <td>Enter your new password:</td>
      <td><input type="password" formControlName="newPassword" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Change Password</button></td>
    </tr>
  </table>
</form>

<a routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page"
  >Main Page</a
>
